// 公共头部
.clover-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--cv-haeder-hei);
  z-index: 2000;
  background-color: #FFF;
  box-shadow: 0 2px 12px 0 rgba(179, 179, 179, 0.1);

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .header-left {}
    
    .header-right {
      
      .model-wrapper {
        display: flex;
        align-items: center;

        .model-item {
          padding: 0 6px;
          cursor: pointer;

          .iconfont {
            font-size: 22px;
          }
        }
      }
    }
  }
}

.clover-main {
  padding-top: var(--cv-haeder-hei);

  .section-wrapper {
    padding: var(--cv-pad);
    
    .posts-list {
      width: calc(100% - var(--cv-sidebar-wid) - var(--cv-pad));
      margin-right: var(--cv-pad);

      .posts-list-wrapper {

        .post-item {
          margin-bottom: 18px;
          background-color: #FFF;
          box-shadow: 0 2px 12px 0 rgba(179, 179, 179, 0.1);
          cursor: pointer;

          .post-wrapper {

            .post-title {
              padding: 18px;
              text-align: center;
              font-size: 20px;

              .post-title-link {
              }
            }

            .post-logo {
              width: 100%;
              height: 274px;

              img {
                object-fit: cover;
              }
            }

            .post-description {
              padding: 18px;
              font-size: 16px;
              color: #6e6d76;
              line-height: 26px;
              letter-spacing: 0.2px;

              p {
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }
            }
          }
        }

        .post-item:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .section-wrapper-flex {
    display: flex;
    justify-content: space-between;
  }
}

.sidebar {
  width: var(--cv-sidebar-wid);
}

// 帖子详情
.single-core {
  
  .post-area {
    
    .post-wrapper {
      width: calc(100% - var(--cv-sidebar-wid) - var(--cv-pad));
      margin-right: var(--cv-pad);
    }
  }

  .post-area-flex {
    display: flex;
    justify-content: space-between;
  }
}

.posts-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .nav-links {

    .page-numbers {

    }

    .current {}

    .prev {}

    .next {}
  }
}