// 公共头部
.clover-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--cv-haeder-hei);
  z-index: 2000;
  background-color: #FFF;
  box-shadow: 0 2px 12px 0 rgba(179, 179, 179, 0.1);

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .header-left {}
    
    .header-right {
      
      .model-wrapper {
        display: flex;
        align-items: center;

        .model-item {
          padding: 0 6px;
          cursor: pointer;

          .iconfont {
            font-size: 22px;
          }
        }
      }
    }
  }
}

.clover-main {
  padding-top: var(--cv-haeder-hei);

  .section-wrapper {
    padding: 30px 12px;
    
    .posts-list {
      width: calc(100% - var(--cv-sidebar-wid) - var(--cv-pad));
      margin-right: var(--cv-pad);

      .posts-list-wrapper {

        .post-item {
          margin-bottom: 20px;
          background-color: #FFF;
          box-shadow: 0 2px 12px 0 rgba(179, 179, 179, 0.1);
          cursor: pointer;

          .post-wrapper {
            display: grid;
            grid-template-columns: 320px auto;
            grid-template-rows: 200px;
            padding: 20px;

            .area-left {
              margin: -20px;
              margin-inline-end: 20px;

              .post-logo {
                height: 100%;

                img {
                  object-fit: cover;
                }
              }
            }

            .area-right {
              align-self: center;

              .post-title {
                margin-bottom: 20px;
                font-size: 20px;

                .post-title-link {
                }
              }

              .post-description {
                margin-bottom: 20px;
                font-size: 16px;
                color: #6e6d76;
                line-height: 26px;
                letter-spacing: 0.2px;

                p {
                  overflow : hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                }
              }

              .post-divider {
                margin-left: -20px;
                margin-right: -20px;
                margin-bottom: 20px;
                border-top: 1px solid rgba(224, 229, 235, 0.5);
              }

              .post-meta {
              }
            }
          }
        }

        .post-item:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .section-wrapper-flex {
    display: flex;
    justify-content: space-between;
  }
}

.sidebar {
  width: var(--cv-sidebar-wid);
}

// 帖子头部信息
.post-header-info {
  padding: 60px 40px 30px 40px;
  background-color: #F9F5F0;

  .header-info-wrapper {

    .post-title {
      margin-bottom: 10px;
      font-size: 34px;
      line-height: 1.5;
      text-align: center;
    }

    .post-meta {
      text-align: center;
      font-weight: normal;
      font-size: 14px;
      color: #525252;

      .meta-item {
        position: relative;
        display: inline-block;
        padding: 0 18px;
      }

      .meta-item::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -6px;
        height: 12px;
        width: 0;
        border-right: 1px solid #8a8a8a;
        opacity: .59;
      }

      .meta-item:last-child::after {
        display: none;
      }

      .meta-time {}

      .meta-read {}

      .meta-praise {}

      .comment {}
    }
  }
}

// 帖子详情
.single-core {

  .single-core-wrapper {
    padding-top: 40px;

    .post-area {

      .post-wrapper {
        width: calc(100% - var(--cv-sidebar-wid) - var(--cv-pad));
        margin-right: var(--cv-pad);
      }
    }

    .post-area-flex {
      display: flex;
      justify-content: space-between;
    }
  }
}

// 分页
.posts-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(224, 229, 235, 0.5);

  .nav-links {
    display: flex;
    align-items: center;

    .page-numbers {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 40px;
      margin: 5px;
      border-radius: 4px;
      border: 2px solid transparent;
      font-size: 14px;
    }

    .page-numbers:hover {
      cursor: pointer;
      color: var(--cv-col);
      border-color: var(--cv-col);
    }

    .current {
      color: #FFF;
      background-color: var(--cv-col);
    }

    .current:hover {
      color: #FFF;
    }

    .next, .prev {
      width: auto;
      padding: 0 17px;
      border: 2px solid #DFDFE2;
    }

    .next:hover, .prev:hover {
      color: var(--cv-col);
      border-color: var(--cv-col);
    }
  }
}

.clover-footer {
  position: relative;
  background-color: #FFF;

  .footer-background {
    position: relative;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 20px 30px -10px;

    .background {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .background:nth-child(1) {
    }

    .background:nth-child(2) {
    }

    .background:nth-child(3) {
    }
  }

  a {
    color: #4f4f4f;
  }

  a:hover {
    color: #acacac;
  }

  .footer-container {
    padding: 20px 0;
  }

  .friend-links {
    margin-bottom: 20px;

    .friend-links-list {
      display: flex;
      justify-content: center;

      .friend-links-item {
        padding: 0 4px;
        font-size: 15px;
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #545454;

    .line, a {
      color: #545454;
    }

    .line {
      padding: 0 5px;
      font-size: 15px;
    }
  }
}

@keyframes animate-colors {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 7000px 0;
  }
}