#post-core {
  color: #525252;
  font-size: 16px;
  text-align: justify;
  line-height: 2;

  .page-title {
    font-size: 36px;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 17px;
    font-size: 32px;
    font-weight: 600;
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 14px;
    font-size: 26px;
    font-weight: 600;
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  h5 {
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  h6 {
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
  }

  p {
    margin-bottom: 24px;
    line-height: 2;

    a {
      color: var(--cv-primary);
      text-decoration: underline;
    }
  }

  ul, ol {
    padding-left: 44px;
    padding-bottom: 30px;

    li {
      font-size: 16px;
    }
  }

  ul {

    li {
      list-style: circle;
    }
  }

  ol {

    li {
      list-style: decimal;
    }
  }

  .wp-block-quote {}

  .wp-block-code {
    margin-top: 16px;
    padding: 15px 20px;
    background: #F4F4F5;

    code {
      padding: 0;
      color: #6e6d76;
      font-size: 16px;
      line-height: 1.65;
      background: transparent;
    }
  }

  .wp-block-image {

    figcaption {
      text-align: center;
    }
  }
}

.wp-block-image {
  margin-top: 24px;
  padding: 15px 20px;
}

/* 表格 */
.wp-block-table {

  table {

    tr {

      th {
      }

      td {
      }

      td, th {
        padding: 10px 16px;
      }
    }

    thead {

    }

    tbody {

    }

    tfoot {

    }
  }

  & > figcaption {
    padding: 10px 16px;
    text-align: center;
  }
}
// 默认
.is-style-regular {

  table, th, td {
    border: 1px solid #E0E0E0;
  }
}
// 条纹
.is-style-stripes {}